:root {
  --naranja: #fb8500;
  --amarillo: #fee440;
  --rojo: hsl(5, 85%, 63%);
  --blanco: hsl(36, 100%, 99%);
  --celeste: hsl(233, 8%, 79%);
}

@media (max-width: 992px) {
  /*---------------------------------------     USUARIOS  login.html    --------------------------------------*/
  .section-login {
    overflow: auto;
  }
  .divcontenedorlogin {
    width: min(70%, 1000px);
    height: min(90%, 500px);
    flex-direction: column;
    overflow: auto;
  }

  /* -------- INICIAR SESION ------- */
  .divIniciar {
    text-align: center;
    height: 50%;
    width: min(100%, 500px);
    gap: 15px;
    border-right: none;
    padding-bottom: 35px;
    justify-content: center;
    align-items: center;
    border-right: solid 2px var(--color4);
  }

  .divIniciar div {
    gap: 8px;
  }

  .divIniciar h2 {
    font-size: 1.5rem;
  }

  .btn-Iniciar {
    font-size: 0.9rem;
    padding: 8px 50px;
  }

  /*--------- REGISTRARSE -----------*/

  .divRegistrarse h2 {
    font-size: 1.5rem;
  }

  /* INPUTS REGISTRARSE */
  .divRegistrarse {
    height: 50%;
    width: min(100%, 500px);
  }

  .divRegistrarse div {
    min-width: (60%, 300px);
  }
  .registrarse {
    padding: 4px;
    letter-spacing: 1px;
  }

  .label-registrarse {
    font-size: 0.8rem;
    width: 100%;
  }

  .submit-registro {
    text-align: center;
    padding: 9px 50px;
    font-size: 0.8rem;
  }
}

/* **************************************************************************************************** */
@media (max-width: 768px) {
  /*  Logo a la izquierda del header **/
  .logoHeader {
    height: 60%;
  }
  .menu-icon1 {
    height: 50%;
  }
  /* La mejor calidad en calzados */
  .imgHome h2 {
    font-size: 3.5rem;
  }

  /* menu que se muestra debajo del header para menu hamburguesa */
  .navbar-list {
    position: absolute;
    top: 65px;
    left: 46%;
    right: 46%;
    width: 55%;
    height: 100%;
    flex-direction: column;
    background-color: var(--amarillo);
    align-items: flex-start;
    padding: 20px 30px;
    gap: 35px;
    z-index: 2;
    display: none;
  }
  /* color para los enlaces  */
  .navbar-list a {
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 900;
    color: var(--naranja);
  }

  /* Mostramos el icono del menu div contenedor */
  .activo {
    display: flex;
    order: 2;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-top: 9px;
  }

  /* menu hamburguesa, le quitamos el none aplicado en desktop para mostrarlo*/
  .open-menu {
    display: flex;
  }
  /* cards individuales de productos */
  /* cards */
  .card {
    width: min(350px, 95%);
    height: 300px;
    border: solid 2px white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(32, 100%, 49%, 0.3);
  }
  .imgCard {
    width: 100%;
    height: 270px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .textCard {
    justify-content: space-between;
    width: 90%;
  }

  /* -----------------------------------------------     FOOTER     ----------------------------------------- */

  footer p {
    font-size: 16px;
  }

  /* *************************      Login registro ************************ */
  /* quitar el borde del medio en horizontal,
  cuando pase a vertical */
  .divIniciar {
    border-right: none;
    padding: 30px;
    padding-bottom: 0px;
  }
}
