/* font-family: 'Bebas Neue', cursive */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --naranja: #fb8500;
  --amarillo: #fee440;
  --rojo: hsl(5, 85%, 63%);
  --blanco: hsl(36, 100%, 99%);
  --celeste: hsl(233, 8%, 79%);
  --azul1: hsl(236, 13%, 42%);
  --azul2: #00001a;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

header {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--naranja);
  padding: 0px 20px;
}
/* MENU HAMBURGUESA Ocultar en Desktop  */

.menu-icon1 {
  display: none;
}

.navbar-list {
  display: flex;
  gap: 25px;
}
nav a {
  cursor: pointer;
  color: var(--blanco);
  font-size: 15px;
  font-weight: 400;
}
nav a:hover {
  color: var(--azul2);
}
/*GLASMORPHISM:
  Fondo semitransparente que
  añade un difuminado al fondo del div en el que se aplique. En este caso, lo usamos para que al abrir el menú
  hamburguesa lo demás de la página se vea borroso abajo de este div de clase overlay.
  */

.overlay {
  position: absolute;
  top: 65px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1; /*Para que quede por encima del resto de las cosas*/

  /*Efecto de Glassmorphismo*/
  background: --azul1, 0.5;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}

/*Toggle para el overlay (para que funcione unicamente cuando abrimos carrito o menu hamburguesa.
    Aclarar que funciona porque son elementos hermanos y overlay esta debajo de los dos inputs en el código.*/
.show-overlay {
  display: block;
}

/* *******************************************contenedor general luego del header */
body {
  background: linear-gradient(to bottom, var(--naranja), var(--amarillo));
}
#home {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* div contenedor de las imagenes */
.imgHome {
  margin-top: 50px;
  min-height: 100vh;
  width: 400%;
  background-image: url(./assets/img/img1.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 15px 15px 10px var(--naranja);
}

/* cada imagen del carrousel  */
.imgHome img {
  width: 25%;
  flex-shrink: 0;
}

.carrusel-botones {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  position: absolute;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
}
.anterior,
.siguiente {
  border-radius: 10px;
  background-color: var(--amarillo);
  color: var(--blanco);
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1px 20px;
  cursor: pointer;
  border: var(--blanco) solid 1px;
}
.anterior:hover,
.siguiente:hover {
  transform: scale(0.9);
  transition: 500ms;
  border: none;
}
/* h2 dentro de la imagen principal  */
.imgHome h2 {
  margin-top: 20px;
  color: var(--amarillo);
  font-family: "Bebas Neue";
  letter-spacing: 3px;
  font-size: 5rem;
  text-align: center;
  justify-content: center;
  width: 90%;
}
/* imagen pricipal home  */
.img1 {
  height: 100vh;
  border: white 2px solid;
}

/* section contenedor de productos  */
#products {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}
#products h4 {
  color: var(--blanco);
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
}
/* div contenedor de productos  */
.contenedorProd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* cards */
.card {
  width: 350px;
  height: 128px;
  border: solid 2px white;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(32, 100%, 49%, 0.3);
  cursor: pointer;
  box-shadow: 7px 7px 5px var(--naranja);
}
.card:hover {
  transform: scale(1.04);
  transition: 700ms;
}
.imgCard {
  width: 130px;
  height: 124px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.ic1 {
  background-image: url(./assets/img/img1.png);
  background-size: cover;
  background-position: left;
}
.ic2 {
  background-image: url(./assets/img/img2.jpg);
  background-size: cover;
  background-position: center;
}
.ic3 {
  background-image: url(./assets/img/img3.jpg);
  background-size: cover;
  background-position: center;
}
.ic4 {
  background-image: url(./assets/img/img4.jpg);
  background-size: cover;
  background-position: left;
}
.ic5 {
  background-image: url(./assets/img/img5.jpg);
  background-size: cover;
  background-position: right;
}
.ic6 {
  background-image: url(./assets/img/img6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.ic7 {
  background-image: url(./assets/img/img7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ic8 {
  background-image: url(./assets/img/img8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ic9 {
  background-image: url(./assets/img/img9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ic10 {
  background-image: url(./assets/img/img10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ic11 {
  background-image: url(./assets/img/img11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ic12 {
  background-image: url(./assets/img/img12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.textCard {
  height: 120px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4px;
}

.h3Cate {
  color: orangered;
}

.spanGene {
  color: white;
  font-weight: 800;
}
.pStock {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.divBtnPrecio {
  display: flex;
  justify-content: space-between;
}
.spanPrecio {
  color: var(--blanco);
  font-weight: 900;
}
.btn-info {
  padding: 4px 12px;
  width: 90px;
  border-radius: 4px;
  border: solid 1px #fff;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: var(--naranja);
}

/* *************************************     HTML DEL LOGIN  **********************************  */
.section-login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.divcontenedorlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(90%, 500px);
  width: min(70%, 1000px);
  background-image: linear-gradient(
    to bottom,
    rgb(235, 226, 226, 0.4),
    rgba(212, 205, 205, 0.4)
  );
}

/* -------- INICIAR SESION ------- */
.divIniciar {
  padding-top: 50px;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  border-right: solid 2px var(--color4);
}

.divIniciar div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* DIV:USUARIO CONTRASEÑA */
.divIniciar div div {
  width: min(70%, 600px);
}
.divIniciar h2 {
  color: var(--blanco);
  font-weight: 600;
  font-size: 2rem;
}

.btn-contraseña {
  padding: 6px 15px;
  border-radius: 6px;
  border: solid var(--blanco) 1px;
  background-color: hsl(0, 0%, 100%, 0.1);
  color: var(--blanco);
  font-size: 0.8rem;
  font-weight: 300;
}

.btn-Iniciar {
  font-size: 1rem;
  font-weight: 400;
  padding: 6px 25px;
  color: var(--blanco);
  background: var(--amarillo);
  border: none;
  border-radius: 7px;
  letter-spacing: 4px;
}

/*--------- REGISTRARSE -----------*/

.divRegistrarse h2 {
  color: var(--blanco);
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

/* INPUTS REGISTRARSE */
.divRegistrarse {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 40px 0;
}

.divRegistrarse div {
  width: 70%;
}
/* input para que el usuario ingrese datos */
.registrarse {
  width: 100%;
  padding: 7px;
  border: solid 2px var(--color4);
  background-color: var(--blanco);
  color: var(--azul2);
  letter-spacing: 3px;
  border-radius: 8px;
}

.div-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.label-registrarse {
  font-size: 14px;
  font-weight: 300;
  color: var(--blanco);
}
#checkbox1:hover {
  cursor: pointer;
}

.submit-registro,
.btn-Iniciar {
  padding: 6px 20px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--blanco);
  background-color: var(--amarillo);
  border: none;
  border-radius: 7px;
  letter-spacing: 4px;
  cursor: pointer;
}

/* ------------------------------------------    Footer    -------------------------------------- */

footer {
  height: 90px;
  width: 100%;
  background-color: var(--color6);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(32, 100%, 49%, 0.3);
  text-align: center;
}

footer p {
  color: var(--color4);
  font-size: 18px;
  font-weight: 500;
}

footer span {
  color: #ff6347;
  font-weight: 800;
}
